html {
	overflow-x: hidden;
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-robotic {
	background-color: transparent;
}
.btn-robotic {
    border-color: #4da0d1;
    color: #4da0d1;
    background-color: transparent;
}
.btn-robotic:hover {
    border-color: #24395d;
    color: #24395d;
}
.btn-robotic-inverse {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}
.btn-robotic-inverse:hover,
.btn-robotic-inverse:active,
.btn-robotic-inverse:focus {
    border-color: #5fc3ff;
    color: #5fc3ff;
}
.pricing-box {
	height: 100%;
    border: solid 1px #444;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
    -moz-box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
    box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
    margin-top: 15px;
	margin-bottom: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.pricing-box:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.col-xs-3 > a {
	text-decoration: none;
}
.pricing-box-header {
    color: #fff;
    background-color: #444;
	padding-top: 100px;
	padding-bottom: 105px;
}
.pricing-box-header > h2 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
}

.pricing-box-header > p {
    font-size: .9em;
    font-weight: 300;
    text-align: center;
    margin: 0;
}
.pricing-box-physics {
    border-color: #03A9F4;
}
.pricing-box-physics > .pricing-box-header {
    color: #fff;
    background-color: #03A9F4;
}
.pricing-box-biology {
    border-color: #4CAF50;
}
.pricing-box-biology > .pricing-box-header {
    color: #fff;
    background-color: #4CAF50;
}
.pricing-box-chemistry {
    border-color: #FFC107;
}
.pricing-box-chemistry > .pricing-box-header {
    color: #fff;
    background-color: #FFC107;
}
.pricing-box-astronomy {
    border-color: #000000;
}
.pricing-box-astronomy > .pricing-box-header {
    color: #fff;
    background-color: #000000;
}
.pricing-box-mathematics {
    border-color: #FF5722;
}
.pricing-box-mathematics > .pricing-box-header {
    color: #fff;
    background-color: #FF5722;
}
.pricing-box-english {
    border-color: #9E9E9E;
}
.pricing-box-english > .pricing-box-header {
    color: #fff;
    background-color: #9E9E9E;
}
.pricing-box-psychology {
    border-color: #9C27B0;
}
.pricing-box-psychology > .pricing-box-header {
    color: #fff;
    background-color: #9C27B0;
}
.pricing-box-history {
    border-color: #795548;
}
.pricing-box-history > .pricing-box-header {
    color: #fff;
    background-color: #795548;
}
.responsive-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
@media(max-width:767px) {
    .responsive-image {
		width: auto;
		height: auto;
	}
}
