/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#visibility {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.1s linear;
}

#visibility.toggled {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s 0.1s, opacity 0.1s linear;
}

#physicsvisibility {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.4s, opacity 0.4s linear;
}

#physicsvisibility.toggled {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.05s linear;
}

#chemistryvisibility {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.4s, opacity 0.4s linear;
}

#chemistryvisibility.toggled {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.05s linear;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}
/* Navbar Top Styles */

.responsive-image {
		width: 800px;
		height: 400px;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(max-width:767px) {
	#wrapper.toggled {
    padding-left: 155px;
	}
	#wrapper.toggled #page-content-wrapper {
		position: absolute;
	}
	#page-content-wrapper {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 5px;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 155px;
	}
	.responsive-image {
		width: 200px;
		height: 100px;
	}
}
